<h1 class='text-center pt-3 d-block'>
    <a class="navbar-brand text-warning" href="#">
        <span class='text-uppercase' style="font-family: 'Poppins', sans-serif; font-weight: 900;">Good</span> Services
    </a>
</h1>
<nav class="navbar navbar-expand-lg bg-transparent" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav fs-5 me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Acceuil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">À propos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu fs-5 bg-black">
                        <a class="dropdown-item" href="#">Néttoyage de bureaux</a>
                        <a class="dropdown-item" href="#">Néttoyage de chantier</a>
                        <a class="dropdown-item" href="#">Néttoyage de la propriété</a>
                        <a class="dropdown-item" href="#">Néttoyage de la spécialisé</a>
                        <a class="dropdown-item" href="#">Désinfection électrostatique et brumisation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <li class="navbar-nav nav-item fs-5">
                <a class="nav-link mx-2" href="#">Commandez</a>
            </li>
            <button class="btn btn-secondary fs-5 my-2 my-sm-0" type="button">Connexion</button>
        </div>
    </div>
</nav>